@import url(../Styles/footer.css);
@import url(../Styles/navigation.css);
@import url(../Styles/notification.css);

* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-variable";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Philosopher";
  src: url(../assets/fonts/Philosopher/Philosopher-Bold.ttf);
}

:root {
  --text-line-height: 24px;
  --text-color: #7d7d7d;
  --title-font-family: "Philosopher";
  --text-font-family: "Montserrat-variable";
  --text-bold-font-family: "Montserrat";
  --text-font-size: 14px;
  --text-mobile-font-size: 12px;
  --color: #ffffff;
  --font-weight-bold: 700;
}

/* main */
.home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Bread Crumb */
.bread-crumb {
  width: 100%;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bread-crumb__link {
  text-decoration: none;
  margin: 0 20px;
  font-family: "Manrope";
  color: black;
}
.bread-crumb__arrow {
  width: 4px;
  height: 8px;
}
.bread-crumb .color-light {
  opacity: 0.5;
}

.goods {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: linear-gradient(to left, white 50%, #fffbf7 50%);
}
.goods__text-details {
  height: 100%;
}
.goods__price__details {
  height: 100%;
}
.goods__img__container {
  display: flex;
  justify-content: center;
  width: auto;
  /* border: 2px solid red; */
}
.goods__img {
  padding-left: 2rem;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
  /* border: 2px solid gray; */
}
.text__details {
  margin: 106px 40px;
  width: 90%;
}
.text__details__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.text__details__title {
  font-family: "Philosopher";
  font-size: 48px;
  margin-bottom: 20px;
}
.text__price {
  display: none;
  font-family: "Montserrat";
  font-size: 32px;
}
.text__price__icons {
  display: none;
}
.text__details__quality {
  font-family: "Montserrat-variable";
  font-size: 14px;
  margin-bottom: 10px;
}
.text__details__description {
  font-family: "Montserrat-variable";
  font-size: 14px;
  line-height: 157.6%;
  display: flex;
}
.text__details__icons {
  align-items: center;
}
.text__details__icon {
  margin-left: 18px;
  cursor: pointer;
}
.text__detail__icon {
  display: flex;
  align-items: center;
}
.text__details__link {
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
}
.text__details__line {
  border-top: 1px solid #cbcbcb;
  margin: 16px 0;
}
.price__details {
  margin: 106px 40px;
  float: right;
  width: 90%;
}
.price {
  font-family: "Montserrat";
  font-size: 32px;
}
.price__details__number {
  display: flex;
}
.product-quatnity__list {
  column-gap: 8px;
  display: flex;
}

.product-quatnity__list-item {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-quatnity__list-item input:checked,
.product-quatnity__list-item input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.product-quatnity__list-item input:checked + .product-quatnity__list-item label,
.product-quatnity__list-item
  input:not(:checked)
  + .product-quatnity__list-item
  label {
  position: relative;
  cursor: pointer;
}

.product-quatnity__list-item label:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 4px;
  left: 0;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.product-quatnity__list-item input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.product-quatnity__list-item input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pricemethod-item {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 18px;

  margin-bottom: 16px;
}

.pricemethod-item input:checked,
.pricemethod-item input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.pricemethod-item input:checked + label,
.pricemethod-item input:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #000;
  font-family: "Montserrat";
}

.pricemethod-item input:checked + label:before,
.pricemethod-item input:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.pricemethod-item input:checked + label:after,
.pricemethod-item input:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #000;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pricemethod-item input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.pricemethod-item input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.text__details__num {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price__details__icon {
  margin-right: 15px;
}
.price__details .text__details__description {
  margin-bottom: 20px;
}
.price__details .one-border {
  border-bottom: 1px solid #bb6b1e;
}
.price__details__selected {
  display: flex;
  display: flex;
  align-items: center;
}
.price__details__selected p {
  margin: 8px 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.price__details__selected img {
  margin-right: 16px;
  cursor: pointer;
}
.price__details__selected a {
  font-family: "Montserrat-variable";
  font-size: 12px;
  color: black;
  text-decoration: underline;
  margin-left: 8px;
}
.price__details__btn {
  width: 100%;
  height: 48px;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.price__details__btn .text__details__link {
  color: white;
}
.price__details__dropdown {
  padding-top: 20px;
}
.price__details__dropdown .dropdown {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.dropdown__name {
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 16px 0;
}
.dropdown__read-more {
  width: 8px;
  cursor: pointer;
}
.price__details .mobile-subtitle {
  display: none;
}
.price__line {
  display: none;
}
@media (max-width: 992px) {
  .goods {
    grid-template-columns: 1fr;
    background-image: none;
  }
  .goods__img__container {
    grid-row: 1 / 2;
    background: linear-gradient(to top, white 50%, #fffbf7 50%);
    height: 611px;
    width: 100%;
  }
  .goods__img {
    object-fit: contain;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .goods__text-details {
    width: 100%;
  }
  .goods__price-details {
    width: 100%;
  }
  .text__details,
  .price__details {
    margin: 0 auto;
    width: 90%;
    /* float: left; */
  }
  .price__details {
    float: none;
  }
  .text__details__icons {
    display: none;
  }
  .text__price__icons {
    display: block;
  }
  .text__price__link {
    font-family: "Montserrat";
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: center;
  }
  .text__details__subtitle {
    display: none;
  }
  .text__details__title {
    font-size: 28px;
  }
  .price__details .mobile-subtitle {
    display: block;
  }
}
@media (max-width: 768px) {
  .goods__img__container {
    height: 440px;
  }
  .goods__img {
    width: 70%;
  }
}
@media (max-width: 592px) {
  .goods__img__container {
    height: 300px;
  }
  .goods__img {
    width: 60%;
  }
}
@media (max-width: 420px) {
  .goods__img__container {
    height: 300px;
  }
  .goods__img {
    width: 60%;
  }
}

/* Benefits */
.benefits {
  text-align: center;
}
.benefits__title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-top: 80px;
}
.benefits__description {
  font-family: "Montserrat-variable";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  width: 57%;
  margin: 25px auto 0px auto;
  font-style: normal;
}
.benefits__description strong {
  text-transform: uppercase;
}
.benefits__row {
  display: flex;
  flex: 1 0 calc(100% / 3);
  box-sizing: border-box;
  margin-top: 40px;
}
.row__item {
  width: 85%;
  margin: 0 auto;
  height: auto;
}
.row__item__icon {
  width: 200px;
  padding: 0;
  margin: 0;
  height: 200px;
}
.row__item__subparagraph {
  font-family: "Montserrat-variable";
  font-size: 14px;
  margin: 0 auto;
  width: 90%;
  letter-spacing: 0.1em;
}
.row__item__subtitle {
  font-family: "Philosopher";
  margin: 24px 0 18px 0;
  font-weight: 700;
  font-size: 32px;
}
.benefits__link-box {
  margin-top: 20px;
  margin-bottom: 85px;
}
.benefits__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 992px) {
  .benefits__title {
    font-size: 28px;
    margin: 40px 0 16px 0;
  }
  .benefits__description {
    width: 90%;
  }
  .benefits__link-box {
    display: none;
  }
  .owl-carousel .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .owl-carousel .owl-dots .owl-dot.active {
    background-color: black;
  }
  .owl-carousel .owl-dots .owl-dot {
    width: 10px;
    background: #e5e2dd;
    height: 10px;
    border-radius: 50%;
    margin: 0 8px;
  }
}
@media (max-width: 768px) {
  .benefits__row {
    margin-top: 20px;
  }
  .row__item__subparagraph {
    width: 80%;
  }
  .row__item__icon {
    width: 120px;
    height: 120px;
  }
  .row__item__subtitle {
    font-size: 24px;
    margin: 15px;
  }
}

/* enjoy */
.enjoy {
  background-color: black;
  color: white;
  width: 100%;
}
.enjoy__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.enjoy__text {
  width: 45%;
  margin: 80px 0;
  height: auto;
  align-self: flex-end;
}
.enjoy__img {
  width: 45%;
  object-fit: cover;
  margin: 80px 0;
}
.enjoy__title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  position: absolute;
  font-size: 70px;
  margin: 80px 0 0 40px;
}
.enjoy__subtitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #eae5dd;
  margin-bottom: 17px;
}
.enjoy__paragraph {
  font-family: "Montserrat-variable";
  font-size: 14px;
  line-height: 170%;
  width: 90%;
}
@media (max-width: 1200px) {
  .enjoy__row .second {
    display: none;
  }
  .enjoy__paragraph {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .enjoy__row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .enjoy__title {
    position: relative;
    text-align: center;
    padding: 40px 0 20px 0;
    font-size: 32px;
  }
  .enjoy__img {
    width: 90%;
    height: auto;
    margin: 0;
  }
  .enjoy__text {
    width: 90%;
    align-self: center;
    margin: 30px 0;
  }
  .enjoy__row .second {
    display: block;
  }
}
/* Recipes */

.special-product {
  /* margin-top: 40px; */
  margin-bottom: 58px;
  background: #fffbf7;
  position: relative;
  /* margin: 0 auto; */
}
.special-product .container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.special-product__heading {
  text-align: end;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 40px;
  margin: 0 40px 17px 0;
}
.horyzontal-line {
  border-top: 1px solid #cbcbcb;
  margin: 0 40px 40px 40px;
}
.slider-product {
  display: flex;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  transform: scale(1);
  transition: transform 0.4s;
}

.slider-product-btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 96px;
  z-index: 10;
  background: #bb6b1e;
  border-radius: 50%;
}

.slider-product-btn-next {
  right: 13%;
}

.slider-product-btn-prev {
  left: 13%;
}

.slider-product-btn button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.special-product__card {
  display: flex;
  align-items: center;
  column-gap: 40px;
  flex-shrink: 0;
  /* width: 80%; */
  transition: 0.4s all;
}

.special-product__card-content {
  flex: 1 1 50%;
}

.special-product__card-img {
  position: relative;
  background: #eae5dd;
  max-width: 560px;
  width: 100%;
  flex: 1 1 50%;
}

.special-product__card-img > .card-img {
  width: 80% !important;
}

.special-product__card-img-extra {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.special-product__card-img-extra img {
  width: 100%;
  height: 100%;
  margin-left: 100px;
  object-fit: contain;
}

.special-product__card-content-title h4 {
  font-size: 55px;
  margin-top: 40px;
  font-family: "Philosopher";
}

.special-product__card-content-subtitle {
  margin-top: 40px;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.special-product__card-content-list {
  margin-top: 16px;
}

.special-product__card-content-list li {
  margin-bottom: 8px;
  font-family: "Montserrat-variable";
  font-size: 14px;
}

.special-product__card-btn {
  margin-top: 40px;
}
.special-product__card-btn .link-dark {
  margin-top: 40px;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
}

.info-pdp {
  margin-top: 132px;
  margin-bottom: 56px;
}
@media (max-width: 992px) {
  .special-product__card-img {
    max-width: 100%;
  }

  .special-product__card-img-extra img {
    width: 160px;
    height: 275px;
    margin-left: 100px;
  }
  .special-product__card-content-title h4 {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .special-product__card-content-title h4 {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .special-product .owl-stage {
    left: -100px;
  }
}
@media (max-width: 592px) {
  .special-product__card {
    flex-direction: column;
    align-items: flex-start;
    margin: 5%;
  }
  .horyzontal-line {
    margin: 0 5% 40px 5%;
  }
  .special-product__card-img-extra img {
    object-fit: contain;
    left: 60px;
  }

  .special-product__card-img {
    background: transparent;
  }
  .special-product__heading {
    text-align: center;
  }
}
/* Rich */
.rich {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.rich__fruity--img {
  width: 50%;
  margin: 57px 81px 57px 0;
  display: flex;
  padding: 0;
}
.rich__img {
  margin: 0;
  width: 100%;
  object-fit: cover;
}
.rich__fruity--container {
  display: flex;
  width: 50%;
  align-items: center;
  margin: 57px 0 57px 81px;
}
.fruity__container {
  width: 80%;
}
.fruity__subtitle {
  font-family: var(--text-bold-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
}
.fruity__title {
  font-family: var(--title-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 16px;
}
.fruity__description {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-font-size);
  text-align: start;
  margin-bottom: 22px;
  line-height: var(--text-line-height);
}
.fruity__link {
  font-family: var(--text-bold-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  letter-spacing: 0.1em;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
}
/* FAQ */
.faq {
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
}
.faq__container {
  margin: 0 120px 0 80px;
  padding: 80px 0;
  display: flex;
}
.faq__title {
  width: 43%;
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 70px;
  color: #eae5dd;
}
.faq__row {
  width: 57%;
}
.faq__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #ffffff;
  align-items: center;
}
.faq__question {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 20px 0;
  cursor: pointer;
}
.faq__answer {
  font-family: "Montserrat-variable";
  font-weight: 400;
  font-size: 13px;
  line-height: 170%;
  margin-bottom: 20px;
}
.faq__read-more {
  width: 8px;
  cursor: pointer;
}
.faq__row .border-bottom {
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 1200px) {
  .faq__container {
    margin: 0 80px 0 80px;
    padding: 50px 0;
  }
}
@media (max-width: 992px) {
  .faq__title {
    font-size: 32px;
    text-align: center;
  }
  .faq__container {
    flex-direction: column;
    width: 100%;
    padding: 40px 0 40px 0;
    margin: 0;
    align-items: center;
  }
  .faq__row {
    width: 90%;
    margin-top: 28px;
  }
}
.card__arrow {
  display: none;
}
.recommend__title {
  font-family: "Philosopher";
  font-size: 55px;
  text-align: center;
  margin: 40px;
}
.recommend__row {
  display: flex;
  overflow-x: hidden;
}
.recommend__card {
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  text-align: center;
  flex: calc(100 / 3);
}
.recommend__card:not(:last-child) {
  border-right: 1px solid #cbcbcb;
}
.card__img {
  margin: 43px auto 0 auto;
  width: 100%;
  object-fit: cover;
  /* margin-left: 1rem; */
}
.card__name {
  font-family: "Philosopher";
  font-size: 24px;
}
.card__title {
  font-family: "Manrope";
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 8px 0;
}
.star__rows {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.star__card {
  margin-right: 5px;
}
.card__price {
  font-size: 14px;
  font-family: "Manrope";
  margin: 8px 0;
}
.card__link {
  border: none;
  background: none;
  border-bottom: 1px solid;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 5px;
  cursor: pointer;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .recommend__title__content {
    display: flex;
    justify-content: space-around;
  }
  .card__arrow {
    display: block;
    margin: 0 20px;
    cursor: pointer;
  }
  .recommend__card {
    flex: 1 0 50%;
  }
  .recommend__title {
    font-size: 28px;
  }
  .card__name {
    font-size: 18px;
  }
}
/* Join-us */
.join-us {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 166px;
}
.join-us__title {
  font-family: var(--title-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  cursor: pointer;
}

/* Gallery */
.gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.gallery__img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .bread-crumb {
    border-top: none;
  }
  .rich {
    display: flex;
    flex-direction: column-reverse;
  }
  .rich__fruity--img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .rich__img {
    width: 90%;
  }
  .rich__fruity--container {
    width: 100%;
    justify-content: center;
    margin: 0 0 47px 0;
  }
  .fruity__container {
    width: 100%;
    text-align: center;
  }
  .fruity__title {
    font-size: 40px;
  }
  .fruity__description {
    text-align: center;
    margin: 0 30px 15px 30px;
  }
  .fruity__subtitle {
    font-size: var(--text-mobile-font-size);
  }
  .fruity__link {
    font-size: var(--text-mobile-font-size);
  }
  .join-us {
    height: 104px;
  }
  .join-us__title {
    font-size: 40px;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .gallery__img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .bread-crumb__link {
    margin: 0 10px;
  }
}
