@import url(../Styles/footer.css);
@import url(../Styles/navigation.css);
@import url(../Styles/notification.css);
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Manrope";
  src: url(../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Philosopher";
  src: url(../assets/fonts/Philosopher/Philosopher-Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-variable";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
}

:root {
  --text-line-height: 24px;
  --text-color: #7d7d7d;
  --title-font-family: "Philosopher";
  --text-font-family: "Montserrat-variable";
  --text-bold-font-family: "Montserrat";
  --text-font-size: 14px;
  --text-mobile-font-size: 12px;
  --color: #ffffff;
  --font-weight-bold: 700;
}
.main {
  height: 100%;
  width: 100%;
}

/* Bread Crumb */
.bread-crumb {
  width: 100%;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bread-crumb__link {
  text-decoration: none;
  margin: 0 20px;
  font-family: "Manrope";
  color: black;
}
.bread-crumb__arrow {
  width: 4px;
  height: 8px;
}
.bread-crumb .color-light {
  opacity: 0.5;
}
.shop__title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #000000;
  margin: 40px 0 62px 0;
}
/* Products */
.product__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.product {
  border: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;
  border-left: none;
  border-bottom: none;
  width: 100%;
  height: auto;
}
.product__row .border-right {
  border-right: none;
}
.product__title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.product__icon {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.product__icon__item {
  width: 30%;
}
.without-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__row .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffbf7;
}
.product__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-font-size);
  text-align: center;
  margin-bottom: 20px;
}
.product__description {
  display: flex;
  flex-direction: row;
}
.product__paragraph--width {
  width: 80%;
  margin: 0 auto;
}
.border-top {
  border-top: 1px solid #cbcbcb;
  margin-bottom: 25px;
}
.product__paragraph {
  font-family: "Manrope";
  font-size: var(--text-font-size);
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.product__subparagraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__item__img {
  height: auto;
  width: 80%;
  margin: 60px 0 30px 0;
}
.product__item__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-mobile-font-size);
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.product__item__stars {
  margin: 10px;
  max-width: 100%;
}
.product__item__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
  margin: 10px 0 28px 0;
}
.product__row .img-bg-1 {
  background-image: url(../assets/images/product_img.png);
}
.product__row .img-bg-2 {
  background-image: url(../assets/images/product-img-2.png);
}
.product__row .img-bg-3 {
  background-image: url(../assets/images/product-img-1.png);
}
.product__row .img-bg-1,
.img-bg-2,
.img-bg-3 {
  background-position: center;
  background-size: cover;
}
.product__img-bg__title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #ffffff;
  width: 60%;
  margin: 40px;
}
.product__item__price {
  text-align: center;
}
.product__row .mobile {
  display: none;
}
.product__new__icon {
  position: absolute;
  margin: 50px 0 0 120px;
}
@media (max-width: 1200px) {
  .product__new__icon {
    margin-left: 90px;
    width: 80px;
  }
}
@media (max-width: 992px) {
  .bread-crumb {
    border-top: none;
  }
  .product__row {
    grid-template-columns: 1fr 1fr;
  }
  .product {
    border-right: none;
  }
  .product__row .mobile {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: transparent;
  }
  .product__new__icon {
    margin-left: 80px;
  }
  .mobile del {
    color: #808080;
    margin-left: 5px;
  }
  .mobile .product__mobile__paragraph {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size);
    text-align: center;
  }
  .product__row .info {
    grid-column: 1 / 3;
  }
  .product__row .visible {
    display: none;
  }
}
@media (max-width: 768px) {
  .bread-crumb__link {
    margin: 0 10px;
  }
  .shop__title {
    font-size: 40px;
    margin: 24px 0 27px 0;
  }
  .product__title {
    font-size: 28px;
    margin-top: 40px;
  }
  .product__mobile__paragraph {
    margin: 10px 30px;
  }
  .product__item__link,
  .product__paragraph,
  .product__subparagraph {
    font-size: var(--text-mobile-font-size);
  }
  .product__img-bg__title {
    font-size: 32px;
    margin: 20px;
  }
  .product__icon {
    width: 90%;
    margin: 0 auto;
  }
  .product__paragraph--width {
    width: 90%;
  }
}
@media (max-width: 592px) {
  .product__new__icon {
    width: 40px;
    margin-left: 40px;
  }
}
