@import url(../Styles/footer.css);
@import url(../Styles/navigation.css);
@import url(../Styles/notification.css);
* {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-variable";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Philosopher";
  src: url(../assets/fonts/Philosopher/Philosopher-Bold.ttf);
}

:root {
  --text-line-height: 24px;
  --text-color: #7d7d7d;
  --title-font-family: "Philosopher";
  --text-font-family: "Montserrat-variable";
  --text-bold-font-family: "Montserrat";
  --text-font-size: 14px;
  --text-mobile-font-size: 12px;
  --color: #ffffff;
  --font-weight-bold: 700;
}

/* main */
.home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Banner */
.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fffbf7;
}
.banner__img--container {
  width: 50%;
  height: 58rem;
}
.banner__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.banner__rich {
  width: 50%;
  height: 58rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner__rich--text {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rich__subtitle {
  font-family: var(--text-bold-font-family);
  font-weight: 700;
  text-transform: uppercase;
}
.rich__title {
  font-family: var(--title-font-family);
  font-size: 75px;
  width: 30rem;
  margin: 45px 0;
  text-align: center;
}
.rich__subtitle--link {
  font-family: var(--text-bold-font-family);
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}
/* Best seller */
.best-sellers {
  margin-top: 70px;
}
.seller__icon {
  display: none;
}
.best-seller__title {
  font-size: 70px;
  font-family: var(--title-font-family);
  font-weight: 700;
  text-align: center;
}
.best-sellers__grid {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  height: auto;
  overflow-x: hidden;
}
.best-seller {
  display: flex;
  flex-direction: column;
  width: 21.25rem;
  height: auto;
  align-items: center;
  text-align: center;
  margin: 20px auto;
}
.best-seller__img {
  height: 340px;
  width: 268px;
  object-fit: cover;
}
.best-seller__subtitle {
  font-size: 27px;
  font-family: var(--title-font-family);
  font-weight: 700;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}
.best-seller__description {
  font-size: var(--text-font-size);
  font-family: var(--text-font-family);
  height: auto;
  margin-top: 15px;
  text-align: center;
  width: 80%;
  line-height: var(--text-line-height);
}
.best-seller__btn {
  font-family: var(--text-bold-font-family);
  font-size: var(--text-font-size);
  color: black;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* about-us */
.about-us {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 580px;
  background-image: url(../assets/images/Mask\ Group.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us__subtitle {
  font-family: var(--text-bold-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color);
  margin-bottom: 35px;
}
.about-us__title {
  width: 720px;
  height: 240px;
  font-family: var(--title-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: var(--color);
  margin-bottom: 30px;
}
.about-us__link {
  font-family: var(--text-bold-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color);
}
.portfolio {
  background-color: #fffbf6;
}
.portfolio__row {
  width: 100%;
  flex: 1 0 calc(100% / 3);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 20px;
  justify-content: space-around;
  overflow-x: auto;
  justify-content: start;
}
.portfolio__cart {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.portfolio__cart--paragraph {
  width: 70%;
  text-align: center;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-font-size);
  color: #000000;
  line-height: var(--text-line-height);
}
.owl-carousel .owl-item .portfolio__cart--icon {
  margin: 24px 0;
  width: 15px;
}
.owl-carousel .owl-item .portfolio__cart--logo {
  margin-top: 16px;
  height: 40px;
  width: 106px;
}
.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-dots .owl-dot.active{
  background-color: rgba(187, 107, 30, 1);
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  background: #e5e2dd;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px;
}
/* Rich */
.rich {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.rich__fruity--img {
  width: 50%;
  margin: 57px 81px 57px 0;
  display: flex;
  padding: 0;
}
.rich__img {
  margin: 0;
  width: 100%;
}
.rich__fruity--container {
  display: flex;
  width: 50%;
  align-items: center;
  margin: 57px 0 57px 81px;
}
.fruity__container {
  width: 80%;
}
.fruity__subtitle {
  font-family: var(--text-bold-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
}
.fruity__title {
  font-family: var(--title-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 16px;
}
.fruity__description {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-font-size);
  text-align: start;
  margin-bottom: 22px;
  line-height: var(--text-line-height);
}
.fruity__link {
  font-family: var(--text-bold-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  letter-spacing: 0.1em;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
}
/* ingredients */
.ingredients {
  background-color: #fffbf6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredients__title {
  font-family: var(--title-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  margin: 80px 0 46px 0;
}
.ingredients__description {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: var(--text-font-size);
  width: 719px;
  margin-bottom: 16px;
  line-height: var(--text-line-height);
}
.ingredients__btn {
  font-family: var(--text-bold-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #bb6b1e;
}
.ingredients__reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ingredient {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  width: 90%;
  margin: 30px;
  height: auto;
}
.ingredient__img {
  width: 100%;
  object-fit: cover;
}
/* Enim */
.enim {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.enim__fruity--img {
  width: 50%;
  margin: 34px 0;
  display: flex;
  padding: 0;
}
.enim__img {
  margin: 0;
  width: 100%;
}
.enim__fruity--container {
  display: flex;
  width: 50%;
  align-items: center;
  margin: 34px 0;
}
.refer {
  height: 480px;
  background-image: url(../assets/images/refer.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  flex-direction: column;
}
.refer__title {
  font-family: var(--title-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: var(--color);
  margin-bottom: 51px;
}
.refer__subtitle {
  font-family: var(--text-bold-font-family);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: var(--text-font-size);
  color: var(--color);
  margin-bottom: 18px;
}
.refer__link {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--text-font-size);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color);
}
/* Join-us */
.join-us {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 166px;
}
.join-us__title {
  font-family: var(--title-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  cursor: pointer;
}
/* Gallery */
.gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.gallery__img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .best-seller {
    flex: 1 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 20px;
  }
  .seller__icon {
    display: block;
    cursor: pointer;
  }
  .best-seller__arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .banner {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .banner__img--container {
    width: 100%;
    height: 48rem;
  }
  .banner__rich {
    width: 100%;
    height: 38rem;
  }
  .banner__rich--text {
    display: flex;
    background-position: top;
    justify-content: flex-start;
  }
  .rich__subtitle {
    margin-top: 5rem;
  }
  .rich {
    display: flex;
    flex-direction: column-reverse;
  }
  .rich__fruity--img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .rich__img {
    width: 90%;
  }
  .rich__fruity--container {
    width: 100%;
    justify-content: center;
    margin: 0 0 47px 0;
  }
  .fruity__container {
    width: 100%;
    text-align: center;
  }
  .fruity__title {
    font-size: 40px;
  }
  .fruity__description {
    text-align: center;
    margin: 0 30px 15px 30px;
  }
  .fruity__subtitle {
    font-size: var(--text-mobile-font-size);
  }
  .fruity__link {
    font-size: var(--text-mobile-font-size);
  }
  .best-seller {
    flex: 1 0 50%;
  }
  
  .portfolio__cart {
    flex: 1 0 50%;
  }
  .ingredients__title {
    font-size: 40px;
    margin: 40px 0 10px 0;
  }
  .ingredients__description {
    width: 90%;
    font-size: var(--text-mobile-font-size);
  }
  .enim {
    display: flex;
    flex-direction: column;
  }
  .enim__fruity--img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .enim__img {
    width: 90%;
  }
  .enim__fruity--container {
    width: 100%;
    justify-content: center;
    margin: 0 0 40px 0;
  }
  .refer {
    height: 375px;
    background-position: center;
  }
  .refer__title {
    font-size: 45px;
  }
  .refer__subtitle {
    font-size: var(--text-mobile-font-size);
  }
  .refer__link {
    font-size: var(--text-mobile-font-size);
  }
  .join-us {
    height: 104px;
  }
  .join-us__title {
    font-size: 40px;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .gallery__img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .banner__img--container {
    height: 32rem;
  }
  .banner__img {
    object-fit: cover;
  }
  .banner__rich {
    height: 30rem;
  }
  .rich__title {
    font-size: 50px;
    width: 28rem;
  }
  .banner__rich--text {
    background-size: 20.5rem;
  }
  .best-seller__title {
    font-size: 35px;
  }
  .best-seller__subtitle {
    font-size: 20px;
  }
  .best-seller__btn {
    font-size: var(--text-mobile-font-size);
  }
  .best-seller {
    width: 10rem;
    height: auto;
  }
  .best-seller__img {
    max-height: 187px;
    max-width: 147px;
  }
  .about-us {
    height: 375px;
    background-position: center;
  }
  .about-us__title {
    font-size: 40px;
    line-height: 40px;
    height: auto;
    width: 18.75rem;
  }
  .about-us__subtitle {
    font-size: var(--text-mobile-font-size);
  }
  .about-us__link {
    font-size: var(--text-mobile-font-size);
  }
  .portfolio__cart {
    flex: 1 0 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .ingredient {
    grid-template-columns: 1fr 1fr;
  }
  .ingredients__reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 45px;
  }
}
@media (max-width: 592px) {
  .banner__img--container {
    height: 25rem;
  }
  .banner__rich {
    height: 20rem;
  }
  .rich__title {
    font-size: 40px;
    width: 17rem;
  }
  .banner__rich--text {
    background-size: 13rem;
  }
  .rich__subtitle {
    margin-top: 2rem;
  }
  .rich__title {
    margin: 20px;
  }
  .best-seller {
    padding: 10px;
  }
}